@import "tailwindcss";

:root {
  --font-lilita: "Lilita One", sans-serif;
  --font-concert: "Concert One", sans-serif;
  --font-work: "Work Sans", sans-serif;
}

body {
  font-family: var(--font-work);
}

/* Helpers for specific use */
.font-heading {
  font-family: var(--font-lilita);
}

.font-sub {
  font-family: var(--font-concert);
}

.font-body {
  font-family: var(--font-work);
}

